<div class="classic-channel">
	<div class="heading-top">
		<h2>Active Users</h2>
	</div>
	<% class_arr = ['red','green','silver']; i=0 %>
	<ul id="active_users">
		<% @active_users.each do |u| %>
		<li>
			<a href="/users/<%= u.id %>/videos">
				<%= fb_profile_pic("55x55", u.nick, u.id) %>
				<span><%= u.nick %></span>
				<em class="user_data"><strong><%= u.videos_num %></strong> <%= nice_how_many_string(u.videos_num, "Video") %></em>
			</a>
		</li>
		<% i=i+1; end %>
		
	</ul>
</div>
<div class="heading-top">
		<a href="#">View More</a>
</div>