<head>
	<link type="text/css" href="/javascripts/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/js/jquery-ui-1.8.16.custom.min.js"></script>
</head>
<div class="vtag_video wrapper">
	<div class="fb_heading-list-edit"><h2 class="fb_edit_tags_title"><%= @page_title %></h2></div>
		<div class="video_list">
		<% if @video.video_taggees.any? %>
				<%= form_for @video, :url => "/fb/video/#{@video.id}/update_tags#{"/new" if @new}" do |f| %>
					<div id="video_taggees">
						<table  id="fb_edit_tags_wrappper">
              <tr>
                <td id="tag_table">
              <%= f.fields_for :video_taggees do |tag| %>
                <div class="fb_edit_box radious_6 edit_box_center">
                    <div id="fb_face_tag" class="ui-widget">
                      <div class="delete_div delete_box_tag">
                        <img src='/images/gallery_delete.png' class='gallery_delete'>
                      </div>
                      <div class="fb_image_border radious_6">
                        <img class="gallary_image" src="<%= "#{tag.object.img_path}" %>" width="70" height="80">
                      </div>
                      <label for="tags">Who is this? </label>
                      <%= tag.text_field :contact_info, :class => "contact_info fb_contact" %>
                      <%= tag.hidden_field :fb_id, :class =>"fb_id" %>
                      <%= tag.hidden_field :id %>
                      <%= tag.check_box :_destroy, :class => 'destroy', :style => 'display:none;', :real_tag => (tag.object.taggee_face? ? true : false) %>
                    </div>
                </div>
						<% end %>
								</td></tr></table>
								<a class="radious_6" id="fb_add_new_tag">Add another Vtag</a>
								<br>
					</div>
					<!--<div id="edit_submit">-->
					<div id="updade_footer">	
						<div><input  class="vtag_butt radious_6" type="submit" value="Update video" name="commit"></div>
					</div>
				<% end %>
			<% else %>
				<div id="not_found_tags">
					<h2> Sorry, no faces found in this video </h2>
				</div>
				<div id="not_found_tags_back">
						<input class="vtag_butt radious_6" type="button" onclick="location.href='/fb/list'" value="Back" name="Back">
				</div>	
				
			<% end %>
		</div>
</div>

<%= javascript_include_tag 'edit_tags' %>
<script type="text/javascript">
  $(document).ready(function(){ initEditTags(true, <%= raw @friends.to_json %>, <%= @video.video_taggees.count %>); });
</script>