<div class="upload_video">
	<div class="wrapper">
		<%= form_for @video, :url => :fb_update_video do |f| %>
			<div>
				<% if @video.errors.any? %>
					<div id="error_explanation">
						<ul>
							<% @video.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<h2><%= @page_title %></h2>
			<ul id="fb_upload" class="radious_6 shadow">
				<li id="fb_title_error"></li>
				<li>
					<label><%= f.label :title %></label>
					<div><%= f.text_field :title, :class=>'fb_input_style' %></div>
				<li>
					<li>
						<label><%= f.label :description %> </label>
						<div>
							<%= f.text_area :description, "onfocus"=>"setbg('#e5fff3');", "onblur"=>"setbg('white');",:class=>'upload_text_area' %>
						</div>
					</li>
					<li>
						<label><%= f.label :category %></label>
						<div><%= f.select :category, options_for_select(Video::CATEGORIES.map { |k, v| [v.titleize, k] }) %></div>
					</li>
					<li id="fb_keywords_error"></li>
					<li>
						<label> <%= f.label :keywords %></label>
						<div><%= f.text_field :keywords, :class=>'fb_input_style' %><a class="info circle">?<span>Keywords about the photo should be inserted with  a “,” separation between them</span></a>
						</div>
					</li>
					<li class="seperator"></li>
					<li class="send_form">
							<a class='vtag_butt radious_6 left' onclick='document.forms["edit_video_<%= @video.id %>"].submit();' value='submit'>Submit</a>
							<%#= f.submit 'Submit', :class=> 'vtag_butt radious_6 left'%>
							<%= link_to 'Cancel', "/" ,:class=>'cancel_link'%>
						<div class="clr"></div>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
</div>