<div class="upload_video">
	<div class="wrapper">
    <%= form_for(@video, :url => "/fb/create", :html => { :multipart => true, :onsubmit => "replaceTitleOnSubmit();" }) do |f| %>
			<div>
				<% if @video.errors.any? %>
					<div id="error_explanation">
						<ul>
							<% @video.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<h2>Upload a video</h2>
			<ul id="fb_upload" class="radious_6 shadow">
				<li id="fb_title_error"></li>
				<li>
					<label><%= f.label :title %></label>
					<div><%= f.text_field :title,:class=>'fb_input_style',:id=>"fb_title"%></div>
				<li>
					<label> <%= f.label :description %> </label>
					<div><%= f.text_area :description, "onfocus"=>"this.value=''; setbg('#e5fff3')", "onblur"=>"setbg('white');",:class=>'upload_text_area' %></div>
				</li>

        <li>
          <a id="pickfiles" href="#" class="pickfiles_fb vtag_butt radious_6"> Select video to upload</a>
        </li>

        <li>
        <%= f.hidden_field :filename %>
        </li>
 
        <li>
       <div id="uploader_status" class='grayField_fb ral' style='display:none;'>
          <h2 class='borderBottom'>Uploading Video</h2>
          <div class='ui-progress-bar ui-container' id='progress_bar'>
            <div class='ui-progress' style='width: 5%;'>
              <span class='ui-label' style='display:none;'>
                Uploading
              </span>
            </div>
          </div>
          <%= s3_uploader(:max_filesize => 500.megabytes).html_safe %>
        </div>
        </li>



				<li class="seperator"></li>
				<li class="send_form">
          <input type='submit' class="vtag_butt radious_6 left save_video_button" id='upload_fb_video' value='Save' style='display:none'>
          <%= link_to 'Cancel', "",:class=>'cancel_link'%>
					<div class="clr"></div>
				</li>
			<% end %>
		</ul>
	</div>
  <script type="text/javascript">
    function replaceTitleOnSubmit() {
     if ($('#fb_title').val() == "") 
       $("#fb_title").val("<%= DateTime.now.to_formatted_s(:long_ordinal) %>");
    }
  </script>

</div>