<div class="got_vtag wrapper">
	<h2><%= @page_title %></h2>
	<div id="video_taggees">
		<% if @videos.any? %>
			<ul id="video_list">
				<% @videos.each do |v| %>
					<% user = v.user %>
						<li>
							<div class="video_thumb"><a href="<%= v.fb_uri %>"><img src="<%= v.thumb_src %>" width="90" height="48" alt="<%= v["name"] %>" /></a></div>
							<div class="video_title"><a href="<%= v.fb_uri%>"><%= v.title %></a></div>
							<div class="video_by"><a href="http://www.facebook.com/<%= user.fb_id %>"><%=fb_profile_pic("23x23", user.nick, user.id)  %>By: <%= user.nick %></a></div>
						</li>
				<% end %>
			</ul>
		<% else %>
			<div id="not_found_tags">
				<h2><%= @empty_message %></h2>
			</div>
		<% end %>
	</div>
</div>
