<div class="video-category" id="tab1">
	<div class="heading-list">
		<h1><%= @page_title %> Videos</h1>
		<ul>
			<li class="show-grid">
				<a href="#" class="list-view">List View</a>
				<a href="#" class="grid-view">Grid View</a>
			</li>
		</ul>
	</div>

	<% if @videos.any? %>
		<div class="wrapper_list_view">
			<% @videos.each do |v| %>
				<div class="description-box nopadding">
					<div class="video-box">
						<a href="<%= v.uri %>">
							<img src= "<%= v.thumb %>" alt="<% v.title %>" />
							<span class="time-video"><%= nice_duration(v.duration) %></span>
						</a>
					</div>
					<div class="description-video">
						<div class="heading-date">
							<h5><a href="<%= v.uri %>"><%= v.title %></a></h5>
							<span><%= nice_time_ago_in_words_including_day_name(v.created_at) %></span>
						</div>
						<div class="text-desc">
							<p><%= v.description %></p>
						</div>
						<div class="total-views"><strong><%= v.views_count %></strong> views</div>
						<div class="bottom-panel">
							<ul> 
								<% if !@user_videos_page %>
								<li class="nobg">by: <a href="/users/<%= v.user_id %>/videos"><%= v.user_nick %></a></li>
								<% end %>
								<% if !@category %>
									<li><strong>Category: </strong> <a href=<%= v.category_uri %>><%= v.category_title %></a></li>
								<% end %>
								<li><strong><%= v.views_count %></strong> Views</li>
								<% comment_text = nice_how_many_comments(v.comments.count) %>
								<li><a href="<%= v.uri %>?comment=true&signed=<%= signed_in? %>#comment-area"> <%= comment_text %> </a></li>
							</ul>
							<!-- rating... -->
							<!--div class="rating-stars"><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em>&nbsp;</em><em class="low-rate">&nbsp;</em></div-->
								<!--a href="#" class="share-btn">!!Share This</a-->
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% else %>			
				<h2> <%= @empty_message %> </h2>
		<% end %>
	</div>

	<%= will_paginate @videos, {:class => "digg_pagination"} %>

	<!--div class="pager">
		<ul>
			<li><a href="#" class="pre">Previous</a></li>
			<li><a href="#" class="active">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><span>...</span></li>
			<li><a href="#">44</a></li>
			<li><a href="#" class="next">Next</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div-->
</div>
