<link type="text/css" href="/javascripts/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/js/jquery-ui-1.8.16.custom.min.js"></script>

<body>
	<!--Content Section -->
	<div id="content_sec">
		<div id="left_content">
			<div class="video-category" id="tab1">
				<div  class="heading-list-edit"><h1><%= @page_title %></h1></div>
				<% if @video.video_taggees.any? %>
					<div class="wrapper_list_view">
						<%= form_for @video, :url => "/video/#{@video.id}/update_tags#{"/new" if @new}" do |f| %>
							<div id="video_taggees">
								<table  id="edit_tags_wrappper">
									<tr>
										<td id="tag_table">
                      <%= f.fields_for :video_taggees do |tag| %>
                        <div class="edit_box radious_6 edit_box_center">
                          <div id="face_tag" class="ui-widget">
                            <div class="left delete_box_tag">
                              <img src='/images/gallery_delete.png' class='gallery_delete'>
                            </div>
                            <div class="image_border radious_6">
                              <a href="/taggee/<%= tag.object.id%>/edit_segments"><img class="gallary_image" src="<%= "#{tag.object.img_path}" %>" width="70" height="80"></a>
                            </div>
                            <label for="tags">Who is this? </label>
                            <br>
                              <%= tag.text_field :contact_info, :class => "contact_info" %>
                              <%= tag.hidden_field :fb_id, :class =>"fb_id" %>
                              <%= tag.hidden_field :id %>
                              <%= tag.check_box :_destroy, :class => 'destroy', :style => 'display:none;', :real_tag => (tag.object.taggee_face? ? true : false) %>
                            <br>
                          </div>
                        </div>
											<% end %>
										</td>
									</tr>
								</table>
								<a class="radious_6" id="add_new_tag">Add another Vtag</a>
								<br>
								<br class="clear" />
								<div id="updade_footer">
									<div><input class="site_button radious_6" type="submit" value="Update video" name="commit"></div>
								</div>
							</div>
						<% end %>
					</div>
				<% else %>			
					<h2> Sorry, no faces found in this video </h2>
					<br class="clear" />
					<div>
						<p><input type="button" onclick="location.href='<%= @video.uri %>'" value="Back" name="back"></p>
					</div>		
				<% end %>
			</div>
		</div>
		<%= render :partial => "sidebars/single_video_sidebar" %>
    <br class="clear" />
	</div>
  <!--Content Section End -->
 </div>
 <%= javascript_include_tag 'edit_tags' %>
</body>

<script type="text/javascript">
  $(document).ready(function(){ initEditTags(false, <%= raw @friends.to_json %>, <%= @video.video_taggees.count %>); });
</script>