<div id="new_content_wrapper">
    <div id="new_content">
       <div id="upload_box" class="radious_6">
            <div class="bg-shadow">&nbsp;<!--this is for side shadow --></div>
            <div id="form_upload_wrapper">
		            <div class="upload_form_heading">
		                <h1>Upload Video</h1>
		                <p>Here you can upload your own cool videos!</p>
		            </div>
		            <%= form_for(@video, :html => { :multipart => true }) do |f| %>
		                <% if @video.errors.any? %>
		                    <div id="error_explanation">
		                        <ul>
		                            <% @video.errors.full_messages.each do |msg| %>
		                                <li><%= msg %></li>
		                            <% end %>
		                        </ul>
		                    </div>
		                <% end %>
		                <div class="signin-form-upload">
		                    <table border="0">
		                        <% if @likes %>
		                            <% for like in @likes %>
		                                <tr>
		                                    <td><b><%= h like["name"] %> </b></td>
		                                </tr>
		                                <tr>
		                                    <td><%= h like["category"] %></td>
		                                </tr>
		                                <tr>
		                                    <td>&ndash;</td>
		                                </tr>
		                            <% end %>
		                        <% end %>
		                    </table>
		                    <ul>
		                    	<li id="fb_title_error"></li>
		                        <li>
		                            <%= f.label :title %>
		                            <span><%= f.text_field :title ,:id=>"fb_title"%></span>
		                        </li>
		                        <li>
		                            <%= f.label :description %>
		                            <%= f.text_area :description, "onfocus"=>"this.value=''; setbg('#e5fff3')", "onblur"=>"setbg('white');" %>
		                        </li>
                            <li>
                            <%= f.hidden_field :filename %>
                          </li>
                          <li>
                            <a id="pickfiles" href="#" class="pickfiles medium silver button ram"> Select video to upload</a>
                          </li>

                          <div id="uploader_status" class='grayField ral' style='display:none;'>
                            <h2 class='borderBottom'>Uploading Video</h2>
                            <div class='ui-progress-bar ui-container' id='progress_bar'>
                              <div class='ui-progress' style='width: 5%;'>
                                <span class='ui-label' style='display:none;'>
                                  Uploading
                                </span>
                              </div>
                            </div>
                            <%= s3_uploader(:max_filesize => 500.megabytes).html_safe %>
                          </div>

                          <li class="upload_form_footer">
                            <div class="upload_buts">
                              <input type='submit' class="site_button radious_6 left save_video_button" id='upload_fb_video' value='Save' style='display:none'>
                              <%= link_to 'Cancel', "/beta",:class=>'upload_cancel_link'%>
                            </div>
                          </li>  
		                    </ul>
		                </div>
		            <% end %>
		      </div>      
        </div>
        <br class="clear"/>
    </div>
</div>

<script type="text/javascript">
    function setbg(color) {
        document.getElementById("video_description").style.background = color
    }
</script>
</div>