<% content_for :javascript_includes do %>
	<%= javascript_include_tag "comment.js" %>
<% end %>

<head>
	<link rel="stylesheet" href="/dreamline_player/mediaelement/build/mediaelementplayer.css" />
	<link rel="stylesheet" href="/dreamline_player/mejs.cuts.css" />
	<!-- facebook tags -->
	<meta property="og:video:width" 	content="420" />
	<meta property="og:video" 				content="<%= Urls["site_url"] %>/dreamline_player/mediaelement/build/flashmediaelement.swf?file=<%= @video.fb_src.nil? ? @video.video_file.url : @video.fb_src %>&autostart=true" />
	<meta property="og:video:type" 		content="application/x-shockwave-flash" />
</head>

<body class="bg-body-v">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=117619831583011";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>	
	<!--Content Section -->
	<div id="content_sec">
		<div id="left_content">
			<div id="banner_slider">
				<div id="title-video">
					<h1><%= @video.title %></h1>
					<div class="uploader-info"> <!--option for a plus image to add to fav-->
						<a href="/users/<%= @user.id %>/videos"><%= fb_profile_pic("23x23", @user.nick, @user.id) %></a><a class="top_sign_link" href="/users/<%= @user.id %>/videos">by :  <%= @user.nick %></a>
					</div>
				</div>
				<div class="video-slider">
					<div class="video-wrap" id="video-wrap">
            <video width="629" height="353" src="<%= ((browser.firefox? || browser.ie6? || browser.ie7? || browser.ie8? || browser.opera? || @video.fb_src.nil? ) && @video.video_file.length > 0 && @video.video_file != nil && (@video.video_file != "")) ? @video.video_file.url : @video.fb_src %>" type="video/mp4" id="player1" controls="controls" preload="metadata" data-cuts="<%="#{@video.player_file_path}"%>">
						</video>
					</div>
				</div>
			</div>
			<div class="panel-video">
				<div class="embed-code">
						<!--<textarea rows="" cols=""><%= "http://www.vtago#{@video.uri}" %></textarea>-->
						<!--label><input type="checkbox" />Short URL</label-->
				</div>
        <div class="panel-right">
          <h3>
            <strong>
              <span id="views-count">
                <%= @video.views_count %>
              </span>
            </strong>
            <span>views</span>
          </h3>
        </div>
				<div class="share-panel-top">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2666662902c0f9"></script>
					<!-- AddThis Button END -->
					</div>
				</div>
				<div class="share-panel">
					<!--<em class="shout-out">&nbsp;</em>-->
					<div class="social-network-group">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style" id="b_share">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_button_preferred_3"></a>
						</div>
						<!-- AddThis Button END -->
						<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2666662902c0f9"></script>
					</div>
				</div>
				<div id="in_this_video">
					<% if @video.description != "" %>
						<h2>Description:</h2>
						<div class="video_description"> <%= @video.description %></div>
						<br>
					<% end %>
					<h2>In this video:</h2>
					<div id="tagged">
					<% @taggees.each do |taggee| %>
						<% if taggee.contact_info != "" %>
							<% href = "href=#{FacebookHelper::FACEBOOK_URL}/#{taggee.fb_id}" if taggee.fb_id %> <%#=Moozly: later change to existing users page... %>
							<a <%= href %>><%= taggee.contact_info %></a>
							<% end %>
						<% end %>
					</div>
					</br>
				</div>
				<div class="panel-video-actions">
				<div class="panel-left">
					<ul>
						<!--li><--a class="panl-2" onclick="<%= signed_in? ? 'show_comment_form();' : 'alert("You must be logged in for adding a comment");' %>">Comment</a></li-->
						<% if @own_videos %>
							<li><a href="/video/<%= @video.id %>/edit" class="panl-4-edit">Edit Video</a></li>
							<li>
								<% if @video.analyzed %>
									<a href="/video/<%= @video.id %>/edit_tags" class="panl-4-edit">Edit Tags</a>
								<% elsif @video.state == "pending" %>
									<a href="/video/<%= @video.id %>/analyze" class="panl-4-vtag">Vtag this Video</a>
								<% end %>
							</li>
              <li>
                <a id="remove_video" onclick="confirm_remove();" href="#" title="Video will be removed from VtagO. For removing from Facebook as well, please apply it through Facebook." class="panl-4-delete">Remove from VtagO</a>
              </li>
							<!--li><a id="delete_<%= @video.id %>"  class="panl-4-delete delete_link">Delete video</a></li-->
						<% end %>
						<%#= render :partial => "videos/delete_light_box"%>
					</ul>
				</div>
			</div>
			<%#= render :partial => "comments/comment_form" %>
			<div class="video-info">
				<div class="left-info-box">
					<ul>
						<li class="nobg">Uploaded by <a href="#"><%=@user.nick %></a> on <%= @video.created_at.strftime("%b %d, %Y, %I:%m %p") %></li>
						<li>Category: <a href="<%= @video.category_uri %>"><%= @video.category_title %></a></li>
					</ul>
				</div>
			</div>
			<div id="comment-area" class="heading-comment">
				<h2>Comments (<fb:comments-count href="<%= Urls['site_url']%><%= @video.uri %>"></fb:comments-count>)</h2>
			</div>
			<div class="fb-comments" data-href="<%= Urls['site_url'] %><%= @video.uri %>" data-num-posts="3" data-width="650"></div>
		</div>
			<%#= render :partial => "comments/comments_list" %>
			<%= render :partial => "sidebars/single_video_sidebar" %>
			<br class="clear" />
		</div>
		<!--Content Section End -->
	</div>
	<script src="/dreamline_player/mediaelement/build/jquery.js"></script>
	<script src="/dreamline_player/mediaelement/build/mediaelement-and-player.js"></script>
	<script src="/dreamline_player/mejs.cuts.js"></script>
  <%= javascript_include_tag 'video' %>
  <script>
    $(function() { enable_video("<%= @video.id %>", "<%= @video.fb_id %>"); });

		var toaster_note = <%= @toaster_note %>;
		if (toaster_note){
			var ref = "<%= @toaster_ref %>";
			toastr.options = {positionClass: 'toast-player-frame', containerId: 'video-wrap', fadeOut: '0'};
			toastr.info("<a href =" + ref + ">" + "<%= @toaster_desc %>" + "</a>&nbsp;&nbsp;<a href='javascript:hideToast();'>Close</a>","<%= @toaster_title %>");
		}

		function hideToast(){
			$('.toast')[0].style.display='none';
		}

		function confirm_remove()
		{
		var x;
		var r=confirm("Video will be removed from VtagO. For removing from Facebook as well, please apply it through Facebook.");
		if (r==true)
		  {
		  	x= "/video/<%= @video.id %>/hide";
		 		document.getElementById("remove_video").href=x;
		  }
		}
		</script>
  </script>

</body>
