<% content_for :javascript_includes do %>
	<%= javascript_include_tag "comment.js" %>
<% end %>

<head>
	<link rel="stylesheet" href="/dreamline_player/mediaelement/build/mediaelementplayer.css" />
	<link rel="stylesheet" href="/dreamline_player/mejs.cuts.css" />
	<!-- facebook tags -->
	<!--meta property="og:type" 					content="movie" /-->
	<!--meta property="og:video:height" 	content="260" /-->
	<meta property="og:video:width" 	content="420" />
	<meta property="og:url" 					content="<%= Urls["site_url"] %> 	<%= @video.uri %>"
	<meta property="og:title" 				content="<%= @video.title %>" />
	<meta property="og:description" 	content="Bla bla long description." />
	<meta property="og:image" 				content="<%= @video.thumb_path %>" />
	<meta property="og:video" 				content="<%= Urls["site_url"] %>/dreamline_player/mediaelement/build/flashmediaelement.swf?file=<%= @video.fb_src %>&autostart=true" />
	<meta property="og:video:type" 		content="application/x-shockwave-flash" />

	<!--meta property="og:video" 				content="<%= Urls["site_url"] %>/dreamline_player/mediaelement/build/flashmediaelement.swf?file=<%= @video.fb_src %>&autostart=true" /-->
	<!--meta property="og:video:type" 		content="video/mp4" /-->
</head>

<body class="bg-body-v">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=117619831583011";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>	
	<!--Content Section -->
	<div id="content_sec">
		<div id="left_content">
			<div id="banner_slider">
				<div id="title-video">
					<h1><%= @video.title %></h1>
					<div class="uploader-info"> <!--option for a plus image to add to fav-->
						<a href="/users/<%= @user.id %>/videos"><%= fb_profile_pic("23x23", @user.nick, @user.id) %></a><a class="top_sign_link" href="/users/<%= @user.id %>/videos">by :  <%= @user.nick %></a>
					</div>
				</div>
				<div class="video-slider">
					<div class="video-wrap">
						<div id="mep_0" class="mejs-container mejs-video" style="width: 629px; height: 353px;">
							<div class="mejs-inner">
								<div class="mejs-mediaelement">
									<div id="me_flash_0_container" class="me-plugin">
										<embed id="me_flash_0" width="629" height="353" flashvars="id=me_flash_0&isvideo=true&autoplay=false&preload=metadata&width=629&startvolume=0.8&timerrate=250&height=353&file=http%3A%2F%2Fvideo.ak.fbcdn.net%2Fcfs-ak-snc7%2Fv%2F448305%2F218%2F135127693286425_48929.mp4%3Foh%3D5a13178ad4c1519fc6700f5bdd0d5af2%26oe%3D4FA3E600%26__gda__%3D1336141312_4d0e1408968786be5a757a5d8325c122" src="http://ec2-184-73-51-0.compute-1.amazonaws.com/dreamline_player/mediaelement/build/flashmediaelement.swf" pluginspage="//www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="transparent" bgcolor="#000000" quality="high" loop="false" play="true" name="me_flash_0" allownetworking="all">
										</div>
										<video id="player1" width="629" height="353" data-cuts="/tmp/player_cuts302.json" preload="metadata" type="video/mp4" src="http://video.ak.fbcdn.net/cfs-ak-snc7/v/448305/218/135127693286425_48929.mp4?oh=5a13178ad4c1519fc6700f5bdd0d5af2&oe=4FA3E600&__gda__=1336141312_4d0e1408968786be5a757a5d8325c122" tabindex="0" style="display: none;"> </video>
									</div>
									<div class="mejs-layers">
										<div class="mejs-poster mejs-layer" style="display: none; width: 629px; height: 353px;"></div>
										<div class="mejs-overlay mejs-layer" style="display: none; width: 629px; height: 353px;">
											<div class="mejs-overlay-loading">
												<span></span>
											</div>
										</div>
										<div class="mejs-overlay mejs-layer" style="display: none; width: 629px; height: 353px;">
											<div class="mejs-overlay-error"></div>
										</div>
										<div class="mejs-overlay mejs-layer mejs-overlay-play" style="width: 629px; height: 353px;">
											<div class="mejs-overlay-button"></div>
										</div>
										<div class="mejs-overlay mejs-layer mejs-cuts-fade" style="width: 629px; height: 353px;"></div>
									</div>
									<div class="mejs-controls">
										<div class="mejs-button mejs-playpause-button mejs-play">
											<button title="Play/Pause" aria-controls="mep_0" type="button"></button>
										</div>
										<div class="mejs-button mejs-volume-button mejs-mute">
											<button title="Mute Toggle" aria-controls="mep_0" type="button"></button>
											<div class="mejs-volume-slider" style="display: none;">
												<div class="mejs-volume-total"></div>
												<div class="mejs-volume-current" style="height: 80px; top: 28px;"></div>
												<div class="mejs-volume-handle" style="top: 25px;"></div>
											</div>
										</div>
										<div class="mejs-cuts-button">
											<button title="Select Cut" aria-controls="mep_0">Select Cut</button>
											<div class="mejs-cuts-selector">
												<ul>
													<li>
														<label>
															<input type="radio" checked="checked" value="all" name="mep_0_cuts">
															All Video
														</label>
													</li>
													<li>
														<label title="Itikos Kleinos">
															<input type="radio" value="0" name="mep_0_cuts">
															Itikos Kleinos
														</label>
													</li>
													<li>
														<label title="Donna Kati">
															<input type="radio" value="1" name="mep_0_cuts">
															Donna Kati
														</label>
													</li>
												</ul>
											</div>
										</div>
										<div class="mejs-time mejs-currenttime-container">
											<span class="mejs-currenttime">00:00</span>
										</div>
										<div class="mejs-time-rail" style="width: 379px;">
											<span class="mejs-time-total" style="width: 369px;">
												<span class="mejs-time-loaded" style="width: 335.034px;"></span>
												<span class="mejs-time-current" style="width: 0.295115px;"></span>
												<span class="mejs-time-handle" style="left: -4.70489px;"></span>
												<span class="mejs-time-float">
													<span class="mejs-time-float-current">00:00</span>
													<span class="mejs-time-float-corner"></span>
												</span>
												<ul class="mejs-time-segments"></ul>
											</span>
										</div>
										<div class="mejs-time mejs-duration-container">
											<span class="mejs-duration">00:41</span>
										</div>
										<div class="mejs-button mejs-fullscreen-button">
											<button title="Fullscreen" aria-controls="mep_0" type="button"></button>
										</div>
									</div>
									<div class="mejs-clear"></div>
								</div>
								<div class="mejs-fullscreen-hover"></div>
								<div class="mejs-fullscreen-hover"></div>
								<div class="mejs-fullscreen-hover"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-video">
				<div class="embed-code">
						<!--<textarea rows="" cols=""><%= "http://www.vtago#{@video.uri}" %></textarea>-->
						<!--label><input type="checkbox" />Short URL</label-->
				</div>
        <div class="panel-right">
          <h3>
            <strong>
              <span id="views-count">
                Unknown
              </span>
            </strong>
            <span>views</span>
          </h3>
        </div>
				<div class="share-panel-top">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2666662902c0f9"></script>
					<!-- AddThis Button END -->
					</div>
				</div>
				<div class="share-panel">
					<!--<em class="shout-out">&nbsp;</em>-->
					<div class="social-network-group">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style addthis_32x32_style" id="b_share">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_button_preferred_3"></a>
						</div>
						<!-- AddThis Button END -->
						<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2666662902c0f9"></script>
					</div>
				</div>
				<div id="in_this_video">
					<% if @video.description != "" %>
						<h2>Description:</h2>
						<div class="video_description"> <%= @video.description %></div>
						<br>
					<% end %>
					<h2>In this video:</h2>
					<div id="tagged">
						<% @video.video_taggees_uniq.each do |taggee| %>
							<% if taggee.contact_info != "" %>
								<% href = "href=#{FacebookHelper::FACEBOOK_URL}/#{taggee.fb_id}" if taggee.fb_id %> <%#=Moozly: later change to existing users page... %>
								<a <%= href %>><%= taggee.contact_info %></a>
							<% end %>
						<% end %>
					</div>
					</br>
				</div>
				<div class="panel-video-actions">
				<div class="panel-left">
					<ul>
						<!--li><--a class="panl-2" onclick="<%= signed_in? ? 'show_comment_form();' : 'alert("You must be logged in for adding a comment");' %>">Comment</a></li-->
						<% if @own_videos %>
							<li><a href="/video/<%= @video.id %>/edit" class="panl-4">Edit Video</a></li>
							<li>
								<% if @video.state != "pending" && @video.state != "error" %>
									<% if @video.analyzed %>
										<a href="/video/<%= @video.id %>/edit_tags" class="panl-4-edit">Edit Tags</a>
									<% else %>
										<a href="/video/<%= @video.fb_id %>/analyze" class="panl-4-vtag">Vtag this Video</a>
									<% end %>
								<% end %>
							</li>
							<!--li><a id="delete_<%= @video.id %>"  class="panl-4-delete delete_link">Delete video</a></li-->
						<% end %>
						<%#= render :partial => "videos/delete_light_box"%>
					</ul>
				</div>
			</div>
			<%#= render :partial => "comments/comment_form" %>
			<div class="video-info">
				<div class="left-info-box">
					<ul>
						<li class="nobg">Uploaded by <a href="#"><%=@user.nick %></a> on <%= @video.created_at.strftime("%b %d, %Y, %I:%m %p") %></li>
						<li>Category: <a href="<%= @video.category_uri %>"><%= @video.category_title %></a></li>
					</ul>
				</div>
			</div>
			<div id="comment-area" class="heading-comment">
				<h2>Comments (<fb:comments-count href="<%= Urls['site_url']%>/<%= @video.uri %>"></fb:comments-count>)</h2>
			</div>
			<div class="fb-comments" data-href="<%= Urls['site_url'] %>/<%= @video.uri %>" data-num-posts="3" data-width="650"></div>
		</div>
			<%#= render :partial => "comments/comments_list" %>
			<%= render :partial => "sidebars/single_video_sidebar" %>
			<br class="clear" />
		</div>
		<!--Content Section End -->
	</div>
	<script src="/dreamline_player/mediaelement/build/jquery.js"></script>
	<script src="/dreamline_player/mediaelement/build/mediaelement-and-player.js"></script>
	<script src="/dreamline_player/mejs.cuts.js"></script>
  <%= javascript_include_tag 'video' %>
  <script>
    $(function() { enable_video(<%= @video.id %>, <%= @video.fb_id %>); });
  </script>

</body>
