<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" fb="http://www.facebook.com/2008/fbml">
	<head>
		<%= yield :head %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="VtagO - Video Just Got Personal" />
		<!--meta property="og:title" content="Vtago title" />
		<meta property="og:description" content="Vtago content" /> 
		<meta property="og:image" content="http://Vtago.com/images/facebookLogo.jpg" /-->
		<title>VtagO - <%= @page_title %></title>
  	<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "jquery.min","cufon-yui", "arial", "switch", "sign_up","new_video" %> <!-- move to needed js files specifically-->
    <%= javascript_include_tag "flowplayer.min" %>
    <%= javascript_include_tag 'plupload/plupload.full' %>
    <%= javascript_include_tag 'notifications' %>
    <%= javascript_include_tag 'flash' %>
    <%= javascript_include_tag 'analyzing' %>


		<%= yield :javascript_includes %>
  	<%= csrf_meta_tag %>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-31496753-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
    <div class='container'></div>

		<div id="outer_header">
			<div id="header_sec">
				<div id="header_wrap">
						<a href="<%= home_url %>"><%= logo %></a>
							<div id="nav">
								<ul id="navbar">
									<% if signed_in? %>
                    <li>
                      <a href="/users/<%= current_user.id %>/videos" class=<%= @own_videos ? "active" : "nobg" %> >My Videos </a>
                    </li>
									<% end %>
									<li><a href="/video/latest" class=<%= @order == "latest" ? "active" : "nobg" %> >Latest Videos</a></li>
									<li><a href="/video/most_popular" class=<%= @order == "most popular" ? "active" : "nobg" %> >Most Popular</a></li>
									<li><a href="/about" class=<%= @page_title == "About VtagO" ? "active" : "nobg" %> >About VtagO</a></li>
								</ul>
							</div>
					</div>
					<div class="signin">
						<ul>
										<% if signed_in? %>
                      <li>
                      <a id="analyzing" class="info"><span>You have videos being analyzed</span></a>
                      </li>
                      <li class="create_account sign_in_account"><%= fb_profile_pic("23x23", current_user.nick, current_user.id) %>
                        <a class="top_sign_link" href="/users/<%= current_user.id %>/videos">Hi <%= current_user.nick %></a>
                      </li>
                      <li>
                        <span id="notifications_count"></span>
                        <div id="notifications" style='display:none'></div>
                      </li>
                      <li class="sign_out" id="header">
			  							<%= link_to "Sign out", sign_out_path, :method => :delete %>
			  							</li>
			  						<% else %>
									<!--	<li class="create_account">a id="create_account_link" class="top_sign_link" href="/users/new">Create Account</a</li>-->
										<li class="seperator_width"></li><!-- this aligens the sigin in to the right -->
										<li class="sign_in" id="header">
			  							<%= unless @page=="signin" then link_to "Sign in", sign_in_path end %>
										<% end %>
									</li>
									<li class="upload_btn"><a href="/videos/new">Upload New Video</a></li>
						</ul>
					</div>
					<!--<br class="clear" />-->
				</div>
			</div>
			<!--Header Section  End-->
			<%= yield %>

			<!--Footer -->
			<div id="outer-bottom-footer">
				<div id="outer-footer">
					<div id="footer_sec">
						<div class="about-us">
							<a class="footer" href="/about">About Vtago</a>
						</div>
						<div class="rules-policy">
							<a class="footer" href="#">Rules &amp; Policies</a>
						</div>
						<div class="social-network">
							<a class="footer" href="#">Fotter link</a>
						</div>
						
						<div class="social-network">
							<a class="footer" href="#">Fotter link</a>
						</div>
						<br class="clear" />
				</div>
			</div>
			<!--Footer Ends -->
				<br><br><br>
			<!--bottom Footer -->
			<div id="bottom-footer">
			
				<p>&copy; 2011 <a href="<%= home_url %>">VtagO</a> All Rights Reserved</p>
				<a href="#" id="goTop">Go to Top</a>
				<br class="clear" />
			</div>
			<!--Bottom Footer Ends -->

      <%= flash_notifications %>

      <script type="text/javascript">
        var uvOptions = {};
        (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/BlguSMz8GGcSh4SyfzAzcA.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
      </script>

		</body>
</html>
