<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" fb="http://www.facebook.com/2008/fbml">
	<head>
		<%= yield :head %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="VtagO - Video Just Got Personal"/>
		<link rel="shortcut icon" href="http://www.vtago.com/images/favicon.ico">
		<link rel="icon" href="http://www.vtago.com/images/favicon.ico">
		<meta name="description" content="The app that gives a new meaning to video sharing." />
		<meta name="keywords" content="video, video sharing, tagging, friend tagging, video tagging, social network"/>
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="fb:app_id" content="<%= Facebook::APP_ID %>"/>

		<meta property="og:type" content="<%= @fb_og_type %>"/>
		<meta property="og:site_name" content="VtagO"/>
		<meta property="og:locale" content="en_US"/>

		<meta property="og:title" 			content="VtagO - <%= @fb_og_title or 'video just got personal' %>"/>
		<meta property="og:description" content="<%= @fb_og_description %>"/>		
		<meta property="og:image" 			content="<%= @fb_og_image or 'http://www.vtago.com/images/vtago_200.png' %>"/>
		<meta property="og:url" 				content="http://www.vtago.com<%= request.path %>"/>


		<title>VtagO - <%= @page_title %></title>
  	<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "jquery.min", "sign_up","new_video" %> <!-- move to needed js files specifically-->
    <%= javascript_include_tag 'plupload/plupload.full' %>
    <%= javascript_include_tag 'notifications' %>
    <%= javascript_include_tag 'flash' %>
    <%= javascript_include_tag 'analyzing' %>

		<link href="/javascripts/toastr/toastr.css" rel="stylesheet"/>
		<link href="/javascripts/toastr/toastr-responsive.css" rel="stylesheet"/>
		<script src="/javascripts/toastr/toastr.js"></script>

		<%= yield :javascript_includes %>

  	<%= csrf_meta_tag %>

    <%= render 'layouts/analytics' %>

	</head>
  <body>

    <div id="bodyUp"> 
      <div id="wrpUp">
        <div class="div_page1">
          <div class="top_page1">
            <%= link_to home_url do %>
              <img class="logo_page1" src="/images/page1/logo.jpg">
            <% end %>
            <img class="image1_page1" src="/images/page1/image1.jpg">

            <% if signed_in? %>
              <div class="image7_page1_2 " >
                <img id="img12" src="/images/onImg12.png" />
                <span id="notifications_count"></span>
                <img id="imgLogin" src="<%= current_user.profile_pic %>" width="40" height="40" />
                <div id="nameLogin"><%= current_user.nick %></div>
                <%= link_to "Logout", sign_out_path, :method => :delete, :id => 'btnLogO' %>
              </div>
            <% else %>
              <%= link_to sign_in_path do %> 
                <img class="image2_page1" src="/images/page1/image2.jpg">
              <% end %>
            <% end %>
          </div>
          <div class="bottom_page1">
            <img class="image4_page1" src="/images/page1/image4.jpg">
            <div id="searchDiv">
              <input type="text" id="txtSearch" name="txtSearch" value="search" />
              <a href=""><img id="btnSearch" src="/images/btnSearch.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Div">
      <%= yield %>
    </div>

    <div class="space30"></div>
    <div class="DivBott">
      <div class="DivMEnue">
        <a href="/" class="AMenue1">@2012 Vtago</a>
        <a href="/toc" class="AMenue2">Terms Of Service</a>
        <a href="/toc" class="AMenue5">Privacy Plicy</a>
        <a href="/about" class="AMenue3">About</a>
        <a href="#" class="AMenue4">Contact</a>
      </div>
    </div>


    <!--- END -->

    <div class='container'></div>

		<div id="outer_header">
			<div id="header_sec">
				<div id="header_wrap">
							<div id="nav">
								<ul id="navbar">
									<% if signed_in? %>
                    <li><a href="/users/<%= current_user.id %>/videos" class=<%= @own_videos ? "active" : "nobg" %> >My Videos </a></li>
										<li><a href="/video/vtaggees" class=<%=  @vtagged_page ? "active" : "nobg" %> >I got Vtagged</a></li>
									<% end %>
									<li><a href="/video/most_popular" class=<%= @order == "most popular" ? "active" : "nobg" %> >Most Popular</a></li>
									<li><a href="/about" class=<%= @page_title == "About VtagO" ? "active" : "nobg" %> >About VtagO</a></li>
								</ul>
							</div>
					</div>
					<div class="signin">
						<ul>
							<% if signed_in? %>
              	<li>
                	<a id="analyzing" class="info"><span>You have videos being analyzed</span></a>
                </li>
                <li class="create_account sign_in_account"><%= fb_profile_pic("23x23", current_user.nick, current_user.id) %>
                	<a class="top_sign_link" href="/users/<%= current_user.id %>/videos">Hi <%= current_user.nick %></a>
                </li>
                <li>
                  <div id="notifications" style='display:none'></div>
                </li>
							<% end %>
							<li class="upload_btn"><span onclick="checkLogin();">Upload New Video</span></li>
						</ul>
					</div>
				</div>
			</div>

      <%= flash_notifications %>

      <%= render 'layouts/uservoice' %>
		</body>
</html>
