<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" fb="http://www.facebook.com/2008/fbml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="VtagO - Video Just Got Personal"/>
	<link rel="shortcut icon" href="http://www.vtago.com/images/favicon.ico">
	<link rel="icon" href="http://www.vtago.com/images/favicon.ico">
	<meta name="description" content="The app that gives a new meaning to video sharing." />
	<meta name="keywords" content="video, video sharing, tagging, friend tagging, video tagging, social network"/>
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<meta property="fb:app_id" content="<%= Facebook::APP_ID %>"/>
	<meta property="og:title" content="VtagO - video just got personal"/>
	<meta property="og:description" content="The app that gives a new meaning to video sharing."/>
	<meta property="og:image" content="http://www.vtago.com/images/vtago_200.png"/>
	<meta property="og:type" content="company"/>
	<meta property="og:url" content="http://www.vtago.com"/>
	<meta property="og:site_name" content="VtagO"/>
	<meta property="og:locale" content="en_US"/>


	<title>VtagO - video just got personal</title>
	<%= stylesheet_link_tag :all %>
	<%= yield :javascript_includes %>
	<%= csrf_meta_tag %>
	<%= yield :head %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31496753-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	</head>
	<body>
		<div class='container'></div>
		<div id="outer_header">
			<div id="header_sec">
				<div id="header_wrap">
						<a href="http://www.vtago.com"><%= logo("70",false) %></a>
					<div id="nav">
					</div>
				</div>
			</div>
		</div>
		<div class="launchrock">
			<%= yield %>
		</div>
		<!--Footer -->
		<div id="outer-bottom-footer" style="height:20px">
			<div id="outer-footer">
				<div id="footer_sec">
					<div class="about-us">
						<a class="footer" href="/about">About Vtago</a>
					</div>
					<div class="rules-policy">
						<a class="footer" href="/toc">Rules &amp; Policies</a>
					</div>
					<div class="social-network">
						<a class="footer" href="/">Home</a>
					</div>
					<br class="clear" />
				</div>
			</div>
			<!--Footer Ends -->
			<br><br><br>
			<!--bottom Footer -->
			<div id="bottom-footer">

				<p>&copy; 2011 <a href="#">VtagO</a> All Rights Reserved</p>
				<a href="#" id="goTop">Go to Top</a>
				<br class="clear" />
			</div>
			<!--Bottom Footer Ends -->

			<%= flash_notifications %>

			<script type="text/javascript">
			var uvOptions = {};
			(function() {
				var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/BlguSMz8GGcSh4SyfzAzcA.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
				})();
				</script>

			</body>
			</html>
